
body{
	margin:150;
	padding:0;
}

.header {
	padding-top: 1em;
    	padding-bottom: 3.5em;
    	background-color: #6699cc;
	align: center;
    	color: black;
    	text-align: center;
	white-space: nowrap;
	margin: -10px;
	display: inline-block;
	position: relative;
	width: 100%;
}

.links 
{
	font-size: 20px;
}

h2 {
	margin-top: -.25em;
	font-size: 45px;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif; 
}

h3 {
   	font-family: Verdana, Geneva, sans-serif; 
	font-size: 35px;
}

.summary {
	font-size: 30px;
	padding-top: -4em;
	margin-top: -1vw;
	margin-left: 2vw;
	margin-right: 2vw;
	text-align: center;
	position: relative;
	top: 30%;
}

.links {
	width: 50%;
}

p {
    	font-family: Times New Roman;
    	line-height: 1.4;
}
	
.links-header {
	margin-left: 18vw;
}

.nav {
	position: sticky;
  	top: 0; 
	text-align: center;
}
nav ul {
	display: inline-block;
    	list-style-type: none;
    	overflow: hidden;
}
nav li a:hover {
    	color: white;
    	background-color: #6699cc;
}

.logo {
	position: absolute;
	left:0px;
	top: 0px;
	z-index:2;
}

.active {
    	color: white;
    	background-color: #6699cc;
}

links-list li{
	padding: 10px;
}

nav li {
    	float: left;
	background-color: white;
}
.bts-logo {
	position:absolute;
	bottom: 17vw;
	right: 30vw;
}

nav li a {
    	display: block;
    	color: #6699cc;
    	text-decoration: none;
    	text-align: center;
    	padding: 14px 85px;
	border: 2px solid #6699cc;
	white-space: nowrap;
}

img {
	margin: 12px;
	width: 44.1vw;
	height: auto;
	border-radius: 15px;
	border: 2px solid black;
}

.img-with-text {
	width: 35%;
	background-color: red;
	float: right;
    	text-align: center;
}
.matterText {
	margin-top: 100px;
}


.whyDoesItMatter {
	text-align: left;
	padding: 0%;
	margin: 2.3vw;
	height: 28vw;
}
.safer1 {
	width: 45%;
	margin: 2.3%;
	float: left;
}
.safer2 {
	border-radius: 25px;
	border: 2px solid black;
	width: 45%;
	margin: 2.3%;
	float: left;
}


.footer-text {
	background-color: #6699cc;
	position: fixed;
	float: left;
	width: 100%;
	left: 0;
	bottom: 0;
}