body {
	background-image: url("asphalt.jpg");
}

h1 {
    text-align: center;
}

h1.header {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background-color: blue;
    color: yellow;
}

.links 
{
	font-size: 20px;
	width: 50%;
}

.active {
    	color: white;
    	background-color: #6699cc;
}

nav li {
    	float: left;
	background-color: white;
}

.bts-logo {
	position:absolute;
	bottom: 17vw;
	right: 30vw;
}

.logo {
	position: absolute;
	left:0px;
	top: 0px;
	z-index:2;
}

.summary {
	font-size: 30px;
	padding-top: -4em;
	margin-top: -1vw;
	margin-left: 2vw;
	margin-right: 2vw;
	text-align: center;
	position: relative;
	top: 30%;
}

div.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}


.wrapper{
	text-align: center;
}

#caption{
	position: relative;
	text-align:center;
}

div.checkboxes{
	text-align: left;
}

#download{
	text-align:left;
}

.footer-text {
	background-color: #6699cc;
	position: fixed;
	float: left;
	width: 100%;
	left: 0;
	bottom: 0;
}

input.yearSelector {width: 2.5em;}

div.centered > div, h2, input, label {display: inline-block;}
